$light-gray: #F3F2EF;
$semi-black: rgba(black, 0.8);
$semi-muted: rgba(black, 0.6);
$semi-red: #ED4956;
$error-red: rgb(237, 73, 86);
$success-green: #46C93A;
$semi-white: rgba(white, 0.91);
$border-radius: 7px;
$text-muted: rgba(black, 0.3);
$dark-gray: rgba(black,0.7);
$header-padding: 0.9rem;
$header-responsive-padding: 0.9rem 0.5rem;
