
<div class="post-header">
  <div class="post-owner-part">
    <div class="user-image flex-rounded-center">
      <img src="assets/images/post-owner.jpg" alt="post-owner-image">
      <span class="user-online flex-centered"></span>
    </div>
    <div class="user-info">
      <span class="text-md text-bold">{{'muhammad mahmoud' | titlecase}}</span>
      <div class="text-muted text-sm">Angular . ReactJS . VueJs</div>
      <div class="text-muted text-sm">16h  <i class="fa fa-globe-africa" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="post-menu-part flex-rounded-center text-muted">
    <i class="fas fa-ellipsis-h"></i>
  </div>
</div>
